/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Abel';
  src: url('./Abel.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  color: #151515;
  height: 100vh;
  background-color: #e6e6e6;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #151515;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #151515;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
